/* Background */

.stApp {
    background: linear-gradient(135deg,#FFF6FB,#EAF8FF);
}

/* Title */

.main-title{

font-size:42px;

font-weight:800;

text-align:center;

color:#F48FB1;

margin-top:15px;

}

.subtitle{

text-align:center;

font-size:20px;

color:#6AAFE6;

margin-bottom:30px;

}
.banner{

background:linear-gradient(90deg,#DDF2FF,#FFE6F1);

padding:30px;

border-radius:25px;

box-shadow:0px 8px 20px rgba(0,0,0,.08);

margin-bottom:20px;

}

.card{

background:white;

padding:20px;

border-radius:20px;

text-align:center;

box-shadow:0px 6px 18px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.blue{

background:#DDF4FF;

}

.brown{

background:#F3E3DA;

}

.ai-box{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0px 6px 18px rgba(0,0,0,.08);

}
/* Sidebar */

section[data-testid="stSidebar"]{

background:#FFF5FA;

border-right:3px solid #E5F5FF;

}

/* Option Menu */

.nav-link{

border-radius:15px !important;

margin-bottom:6px;

font-weight:600;

}

.nav-link:hover{

background:#DFF4FF !important;

}

.nav-link-selected{

background:#F48FB1 !important;

color:white !important;

border-radius:15px;

}

/* Cards */

.card{

cursor:pointer;

}

/* Tables */

[data-testid="stDataFrame"]{

border-radius:15px;

overflow:hidden;

}
div[data-testid="stMetric"]{

background:white;

padding:15px;

border-radius:15px;

box-shadow:0px 6px 18px rgba(0,0,0,.08);

}
